@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
 
body{
    background-color: rgba(212, 202, 202, 0.342);
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
header{
    padding: 20px;
    margin: 20px;
    font-size: 24px
    font-weight: 900;
}

